/base_pgn_files/
/split_pgn_files/
/og_model/
/flat_models/
/cnn_models_v1/
/cnn_models_v2/
/cnn_models_v3/
/cnn_models_v4/*
/cnn_models_v5/
/cnn_models_v6/
/cnn_models_v7/
/cnn_models_v8/
/metrics/*
/logs/
/eval_stockfish/
/__pycache__/*
/stockfish/
